core:
    database: kochira.db

networks:
    freenode:
        autoconnect: true
        nickname: Kochira
        hostname: irc.freenode.net
        port: 6667
        channels:
            "#foo":
            "#bar":
        acl:
            "nick!user@host": [ "admin" ]
            "foo!bar@baz": [ "admin" ]
            "nope!blag@umm": [ "quote", "blarg" ]

services:
    kochira.services.core.admin:
        autoload: true

    kochira.services.core.autojoin:
        autoload: true
        channels:
            - name: "#kochira"

    kochira.services.net.webserver:
        autoload: true
        base_url: http://someplace.com

    kochira.services.social.quotes:
        autoload: true
        index_path: /tmp/
