core:
    database: kochira.db

networks:
    freenode:
        autoconnect: true
        nickname: Kochira
        hostname: irc.freenode.net
        port: 6667

services:
    kochira.services.core.admin:
        autoload: true

    kochira.services.core.autojoin:
        autoload: true
        channels:
            - name: "#kochira"
