https://github.com/notwa/pydle/tarball/master#egg=pydle
peewee
pyyaml
requests
lxml
parsedatetime
pycountry
whoosh
pillow
humanize
BeautifulSoup4
pure-sasl
docutils
tornado
pathlib
https://github.com/rfk/pyenchant/tarball/master#egg=pyenchant
textblob
ccy
geopy
https://github.com/rfw/pyre2/tarball/master#egg=re2
