git+https://github.com/Shizmob/pydle
peewee
pyyaml
requests
lxml
parsedatetime
pycountry
whoosh
pillow
humanize
BeautifulSoup4
pure-sasl
docutils
tornado
pathlib
git+https://github.com/rfk/pyenchant
textblob
