{% extends "../_layout.html" %}

{% block title %}Map{% end %}

{% block body %}
<div id="map" style="width: 100%; height: 500px"></div>
<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/src/markerclusterer_packed.js"></script>
<script>
var map = new google.maps.Map(document.getElementById("map"), {
    center: new google.maps.LatLng(0, 0),
    zoom: 1
});

var infoWindow = null;

var markers = [];

function makeInfoWindow(info) {
    return new google.maps.InfoWindow({
        content: makeMarkerDiv(info)
    });
}

function makeMarkerDiv(h) {
    return "<div style='line-height:1.35;overflow:hidden;white-space:nowrap'>" + h + "</div>";
}

function makeMarkerInfo(m) {
    return "<strong>" + m.get("account") + " on " + m.get("network") + "</strong> " +
        m.get("formattedAddress");
}

function dismiss() {
    if (infoWindow !== null) {
        infoWindow.close();
    }
}

{% raw json_encode(locations) %}.forEach(function (loc) {
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(loc.lat, loc.lng)
    });
    marker.setValues(loc);
    markers.push(marker);

    google.maps.event.addListener(marker, "mouseover", function () {
        dismiss();
        infoWindow = makeInfoWindow(makeMarkerInfo(marker));
        infoWindow.open(map, marker);
    });

    google.maps.event.addListener(marker, "mouseout", dismiss);
});

var mc = new MarkerClusterer(map, markers);
google.maps.event.addListener(mc, "mouseover", function (c) {
    dismiss();

    var markers = c.getMarkers();
    infoWindow = makeInfoWindow(markers.map(makeMarkerInfo).join("<br>"));
    infoWindow.setPosition(c.getCenter());
    infoWindow.open(map);
});
google.maps.event.addListener(mc, "mouseout", dismiss);
google.maps.event.addListener(mc, "click", dismiss);
</script>
{% end %}
