<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% end %} – {% module Title() %}</title>
        <link rel="stylesheet" href="//bootswatch.com/lumen/bootstrap.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div id="wrap">
            {% module NavBar() %}
            {% block wrap %}
            <div class="container">
                {% block body %}{% end %}
            </div>
            {% end %}
        </div>
        {% module Footer() %}
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    </body>
</html>
