{% extends "_layout.html" %}

{% block title %}Welcome{% end %}

{% block body %}
{% raw motd %}

<h2>Networks</h2>
<p>I am connected to the following networks:</p>
<ul>
{% for _, client in networks %}
    <li>
        <strong>{{ client.network }} ({{ client.connection.hostname }}:{{ client.connection.port }})</strong> as <strong>{{ client.nickname }}</strong>
        <ul>
        {% for channel, details in client.channels.items() %}
            {% if not details["modes"].get("s") %}
            <li>{{ channel }}</li>
            {% end %}
        {% end %}
        </ul>
    </li>
{% end %}
</ul>
{% end %}
