{% extends "../_layout.html" %}

{% block title %}Profiles{% end %}

{% block body %}
{% for profile in profiles %}
<blockquote id="{{profile.network}}/{{profile.account}}">
    <ul>
        {% for line in profile.value.split(" | ") %}
        {% autoescape None %}
        <li>{{linkify(xhtml_escape(line.strip()))}}</li>
        {% autoescape xhtml_escape %}
        {% end %}
    </ul>
    <small><a href="#{{profile.network}}/{{profile.account}}">{{profile.account}} of {{profile.network}}</a></small>
</blockquote>
{% end %}
{% end %}
