{% extends "../_layout.html" %}

{% block title %}Quotes{% end %}

{% block body %}
{% import math %}

<form class="form-inline pull-right" role="search" method="get" action="/quotes">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" name="q" value="{{query or ""}}">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% for quote in quotes %}
<h2>Quote #{{quote.id}}</h2>
<pre>{{quote.quote_with_newlines}}</pre>
{% end %}

<ul class="pager">
    {% set n = int(math.ceil(count / limit)) %}
    {% set j = offset // limit %}
    <li class="previous{% if j <= 0 %} disabled{% end %}"><a href="?offset={{(j - 1) * limit}}&limit={{limit}}">&larr; Newer</a></li>
    <li class="next{% if j >= n - 1 %} disabled{% end %}"><a href="?offset={{(j + 1) * limit}}&limit={{limit}}">Older &rarr;</a></li>
</ul>
{% end %}
