{% extends "../_layout.html" %}

{% block title %}Quotes{% end %}

{% block body %}
{% import math %}

{% for quote in quotes %}
<h2>Quote #{{quote.id}}</h2>
<pre>{{quote.quote_with_newlines}}</pre>
{% end %}

<ul class="pagination">
    {% set n = int(math.ceil(count / limit)) %}
    {% set j = offset // limit %}
    <li{% if j <= 0 %} class="disabled"{% end %}><a href="?offset={{(j - 1) * limit}}&limit={{limit}}">&laquo;</a></li>
    {% for i in range(n) %}
    <li{% if i == j %} class="active"{% end %}><a href="?offset={{i * limit}}&limit={{limit}}">{{i + 1}}</a></li>
    {% end %}
    <li{% if j >= n - 1 %} class="disabled"{% end %}><a href="?offset={{(j + 1) * limit}}&limit={{limit}}">&raquo;</a></li>
</ul>
{% end %}
